<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.dao.AdminDAO">
	<insert id="insertAdmin" parameterType="AdminDTO">
      <![CDATA[
        INSERT INTO admin(admin_id, email, password, name)
        VALUES (admin_id_seq.nextval, #{email}, #{password}, #{name})
      ]]>
     </insert>
     
	<select id="selectById" parameterType="string" resultType="AdminDTO">
		SELECT * FROM admin
		WHERE email = #{email}
	</select>
	
	<select id="idCheck" parameterType="string" resultType="int">
		select count(*) from admin
		where email=#{email}
	</select>

	<!--리뷰 블러 list불러오기 -->
	<select id="editSpoiler"  resultType="ReviewDTO">
		select * from comments
		where state = 4
	</select>

	<!--리뷰 삭제 list 불러오기  -->
	<select id="editReport" resultType="ReviewDTO">
		select * from comments
		where state = 3
	</select>

	<!--리뷰 삭제 기능-->
	<delete id="deleteReview" parameterType="ReviewInfoDTO">
		<!--리뷰는 삭제 하는거라 리설트 타입을 기재 안해도 됨--> 
		DELETE FROM comments
		where movie_id=#{movie_id} AND member_id=#{member_id} 
		<!--WHERE state = 3 state가 3인 댓글을 삭제 처리 -->
		<!--영화에 달린 영화 아이디 넘버, 욕설을 단 멤버 아이디를 알아야 댓글을 삭제 할수 있기 떄무네 리뷰인포 디티오로 값을 받아와야 함 -->
	</delete>
		
	<!--리뷰 블러 기능-->
	<update id="blurSpoiler" parameterType="ReviewInfoDTO">
	<!--블러 처리할 스포일 댓글 editSpoiler 상태는 2로 분류 되는데 신고당하면 4로 분류해서 댓글을 블러 처리 되어 있게 해야한다 그래서 업데이트문 작성-->
		UPDATE comments
		SET STATE = 2
		WHERE MOVIE_ID = #{movie_id} AND MEMBER_ID = #{member_id} AND STATE = 4
 	<!--한 영화당 리뷰를 하나 달수 있는데 멤버 아이디와 무비 아이디를 변수로 줘야 한다(변동가능하니까 위에선 걍 무비 아이디, 멤버 아이디로 넣어줌 )-->
 	</update>

	<!-- 관리자 정보 수정 -->
	<update id="updateAdmin" parameterType="AdminDTO">
		UPDATE admin
		SET password=#{password},Name=#{name}
		WHERE Email=#{email}
	</update>

	<!-- 비밀번호 변경 -->
	<update id="updateByPassword" parameterType="AdminDTO">
		UPDATE admin SET Password=#{password}
		WHERE Email = #{email}
	</update>

</mapper>