<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.list.dao.ListDAO">
	<select id="getTopRatedMovies" resultType="ListDTO">
		<![CDATA[
		SELECT a.movie_id, a.title, a.release_date, 
			   a.tmdb_vote_sum, a.tmdb_vote_cnt, a.poster_path, a.popularity
		FROM (SELECT * 
			  FROM movie 
			  WHERE tmdb_vote_cnt >= 100 AND popularity >= 30 AND release_date >= '00/01/01'
        ORDER BY tmdb_vote_sum DESC) A 
		WHERE rownum <= 20
		]]>
	</select>
	
	<!--getTopRatedClassic
	getTopRatedDirector
	getTopRatedActor
	getTopRatedGenre
	getFavoriteDirector
	getFavoriteActor
	getFavoriteGenre-->
	
</mapper>















