<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.member.dao.MemberDAO">

	<select id="printRandom" resultType="ListDTO">
  <![CDATA[
  SELECT * FROM 
    (SELECT * FROM movie ORDER BY dbms_random.value)
  WHERE ROWNUM BETWEEN 0 AND 4
  ]]>
</select>
</mapper>