@font-face {
  font-family: 'NanumSquare';
  src: url('assets/fonts/NanumSquareR.ttf') format('truetype');
  /* You can also include other font formats (.woff, .woff2) for better cross-browser support */
  /* Add additional src declarations for other font weights or styles if needed */
  font-weight: 200;
  font-style: normal;
}

.profile {
  margin: auto;
  text-align: center;
  height: 400px;
  background-color: #e75757;
  padding-top: 140px;
  border-radius: 10px;
  border: 1.5px solid #e7e7e7;
}

.maintitle {
  font-size: 15pt;
  color: white;
  margin: 0 auto 20px auto;
  font-family: NanumSquare;
  letter-spacing: 3px;
}

.profile_img {
  margin: auto;
  width: 70px;
  height: 70px;
}

.profile_img_img {
  width: 100%;
  height: 100%;
  border-radius: 8%;
  border: 1px solid black;
}

.profile_name {
  margin-top: 25px;
  font-size: 11pt;
  color: white;
  font-family: NanumSquare;
  letter-spacing: 3px;
}

.box {
  margin: auto;
  height: 450px;
  background-color: #fdfdfd;
  padding: 30px;
  border-radius: 10px;
  border: 1.5px solid #e7e7e7;
}

.content {
  width: 100%;
  height: 100%;
  /* background-color: yellow; */
}

.title {
  font-size: 18pt;
  font-weight: bold;
  font-family: NanumSquare;
}

.chartset {
  margin: 50px auto 0 auto;
  width: 400px;
  height: 150px;
  /* background-color: yellow; */
}
.chart {
  width: 40px;
  height: 100%;
  float: left;
  border: 1px solid #fdfdfd;

  position: relative;
}

.chart div {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.charttilte {
  margin: auto;
  width: 400px;
  height: 30px;
  /* background-color: yellow; */
}

.chartT {
  margin-top: 10px;
  width: 40px;

  float: left;
  text-align: center;
  font-size: 15px;
  font-weight: board;
  color: #5e5e5e;
}

.text {
  margin-top: 30px;
  width: 100%;
  display: flex;
  /* background-color: yellow; */
  text-align: center;
}

.textbox {
  float: left;
  height: 50px;
  width: 200px;
  /* background-color: #e75757; */
}

#middle {
  border-left: 2px solid #dddcdc;
  border-right: 2px solid #dddcdc;
}

.top {
  font-size: 20pt;
  font-weight: bold;
}

.foot {
  font-size: 10pt;
}

/* 유저장르 */

.foot2 {
  font-size: 10pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text2 {
  margin-top: 50px;
  width: 100%;
  display: flex;
  /* background-color: yellow; */
  text-align: center;
}

.box2 {
  margin: auto;
  height: auto;
  background-color: #fdfdfd;
  padding: 30px;
  border-radius: 10px;
  border: 1.5px solid #e7e7e7;
}

.ranking {
  width: 400px;
  margin: 50px auto 50px auto;
  height: 300px;
  /* background-color: yellow; */
  font-size: 13pt;
  color: #5e5e5e;
  font-weight: 500;
}

.rank_set {
  width: 100%;
  height: 40px;
}

.rank_left {
  float: left;
}

.rank_right {
  float: right;
}

/* 선호배우 */
.ranking2 {
  width: 550px;
  margin: 40px auto 40px auto;
  height: 300px;
  /* background-color: yellow; */
  font-size: 13pt;
  color: #5e5e5e;
  font-weight: 500;
}

.rankprofile {
  margin-top: 15px;
}

.rankpro_left {
  float: left;
  width: 70px;
  height: 70px;
}

.rankpro_left img {
  width: 70px;
  object-fit: cover;
}

.rankpro_right {
  margin-left: 20px;
  width: 160px;
  float: left;
  /* border-bottom: 1px solid #dddcdc; */
}

.rankpro_name {
  margin-top: 12px;
}

.line {
  margin-top: 100px;
  width: 260px;
  border-bottom: 1px solid #dddcdc;
}
